# Python

**pycache**/
*.py[cod]
*$py.class

# Virtual Environment

.venv/
venv/
env/

# Jupyter Notebook

.ipynb_checkpoints/

# IDE / Editor

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db

# Python packaging

*.egg-info/
dist/
build/

# Environment variables

.env

# Logs

*.log

# Temporary files

*.tmp
*.temp

# Streamlit

.streamlit/secrets.toml
